*{
    font-family: 'Shantell Sans', cursive;
}

#presentacion {
    background-color: #ECD7F9;
    height:2300px;
    border-radius: 5px;
}

#carrera {
    background-color: #F8F1FC;
    height: 2300px;
    border-radius: 5px;
}

#foto {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background: pink;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    margin-bottom: 105px;
    margin-top: 100px;
}

#foto:hover, #btn_contacto:hover, #btn_educacion:hover {
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
}

#nombre {
    margin-bottom: 50px;
    margin-top: 80px;
    display: block;
    font-size: 80px;
}

.espaciado-vertical {
    margin-bottom: 20px;
    margin-top: 80px;
}

.separador_punteado {
    color: #000000;
    height: 0px;
    border: 1px dashed;
    opacity: 1;
    margin: 0px 50px 0px 50px;
    margin-top: 70px;
}

.separador_nombre {
    color: #000000;
    height: 0px;
    border: 1px solid;
    opacity: 1;
    margin: 0px 50px 0px 50px;
    margin-top: 50px;
}

.ocultar {
    display:none;
}

.mostrar {
    display: block;
}

#btn_contacto, #btn_educacion {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    letter-spacing: 3px;
    font-size: 15px;
    background: #DBACF4;
}

#tit_exp_laboral, #tit_habilidades, #tit_idiomas, #tit_contacto, #tit_educacion {
    border-style:groove;
    border-color: #a945c7;
    border-radius: 25px;
}

#exp_laboral {
    background-color: #E1C1F1;
}

#profesion {
    font-size: 20px;
}

#sobre_mi {
    font-size: 20px;
}

ul {
    list-style-type:"🧁";
    font-size: 20px;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background:  white;
}

::-webkit-scrollbar-thumb {
    background: #DF9CEC;
}

.container {
    max-width: 900px;
}